body {
    background-color: #e0f7fa; /* Verde Agua */
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

#sidebar {
    background-color: #00bcd4; /* Verde Agua */
    padding: 20px;
    width: 200px;
    height: 180vh; /* Ajuste para cubrir toda la altura de la pantalla */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  

}


#sidebar button {
    width: 100%;
    padding: 5px; /* Aumenté el padding para hacer los botones más grandes */
    margin-bottom: 10px;
    background-color: #00bcd4; /* Verde Agua */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px; /* Aumenté el tamaño de la letra en los botones */
    margin-top: 125px; /* Ajusta el margen superior para mover el botón hacia abajo */
}

#sidebar button:hover {
    transform: scale(1.1);
    padding: 20px;
    font-size: 25px; /* Aumenté el tamaño de la letra en el contenido */
}

#content {
    flex: 1;
    padding: 20px;
    font-size: 25px; /* Aumenté el tamaño de la letra en el contenido */
}
